/* alignment + layout */
.minh-100vh {
	min-height:100vh;
	overflow-y:scroll;
}
.flex-display-column {
	display: flex;
	flex-flow: column wrap;
}
.flex-display-row {
	display: flex;
	flex-flow: row wrap;
}
.flex-align-center {
	align-items: center;
}
.flex-justify-center {
	justify-content: center;
}
.flex-justify-around {
	justify-content: space-around;
}
.hidden {
	visibility:hidden;
}


/* text size */
.txt-10px {
	font-size:0.625rem;
}
.txt-11px {
	font-size:0.6875rem;
}
.txt-12px {
	font-size:0.75rem;
}
.txt-14px {
	font-size:0.875rem;
}
.txt-18px {
	font-size:1.125rem;
}
.txt-72px {
	font-size:4.5rem;
}


/* text color */
.txt-drkbg-ltgray {
	color: #dfdfdf !important;
}
.txt-drkgray {
	color: #343a40;
}
.txt-gray {
	color: #7a7a7a;
}


/* text style */
.txt-italic {
	font-style: italic;
}
.txt-400 {
	font-weight: 400;
}
.txt-600 {
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.txt-space-1hfpx {
	letter-spacing:0.0938rem;
}
/*.txt-space-2px {
	letter-spacing:0.125rem;
}*/
/*.txt-space-3px {
	letter-spacing:0.1875rem;
}*/
.txt-space-4px {
	letter-spacing:0.25rem;
}
.txt-code {
	font-family:'Courier', 'Monaco', serif;
}


/* text alignment */
.txt-center h1,
.txt-center h2,
.txt-center h3,
.txt-center h4,
.txt-center h5,
.txt-center h6,
.txt-center p,
.txt-center span,
.txt-center {
	text-align:center;
}


/* line height */
.txt-lineht-2p {
	line-height: 200%;
}