/* alignment + layout */
.minh-100vh {
	min-height:100vh;
	overflow-y:scroll;
}
.flex-display-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
}
.flex-display-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.flex-align-top {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.flex-align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.flex-align-content-center {
	-ms-flex-line-pack: center;
	    align-content: center;
}
.flex-justify-center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flex-justify-around {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.flex-justify-start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.flex-justify-end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.flex-nowrap {
	-ms-flex-wrap:nowrap;
	    flex-wrap:nowrap;
}
.flex-self-center {
	-ms-flex-item-align:center;
	    -ms-grid-row-align:center;
	    align-self:center;
}
.hidden {
	visibility:hidden;
}
.wd-100 {
	width:100%;
	height:auto;
}




/* text size */
.txt-10px {
	font-size:0.625rem;
}
.txt-11px {
	font-size:0.6875rem;
}
.txt-12px {
	font-size:0.75rem;
}
.txt-14px {
	font-size:0.875rem;
}
.txt-18px {
	font-size:1.125rem;
}
.txt-72px {
	font-size:4.5rem;
}





/* text color */
.txt-drkbg-ltgray {
	color: #dfdfdf !important;
}
.txt-drkgray {
	color: #343a40;
}
.txt-gray {
	color: #7a7a7a;
}





/* text style */
.txt-italic {
	font-style: italic;
}
.txt-400 {
	font-weight: 400;
}
.txt-600 {
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.txt-space-1hfpx {
	letter-spacing:0.0938rem;
}
/*.txt-space-2px {
	letter-spacing:0.125rem;
}*/
/*.txt-space-3px {
	letter-spacing:0.1875rem;
}*/
.txt-space-4px {
	letter-spacing:0.25rem;
}
.txt-code {
	font-family:'Courier', 'Monaco', serif;
}





/* text alignment */
.txt-center {
	text-align:center;
}
// .txt-left {
// 	text-align:left;
// }





/* line height */
.txt-lineht-2p {
	line-height: 200%;
}