/* top-level custom stuff */
body {
  font-family: 'Montserrat', sans-serif;
  /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  overflow-x:hidden;
  position: relative;
}
h6 a:link, 
h6 a:visited, 
h6 a:active,
p a:link,
p a:visited,
p a:active {
	color: #777;
}
h6 a:hover, 
h6 a:focus,
p a:hover,
p a:focus {
	color: #343a40;
	text-decoration:none;
}
/* */


/* animations and transitions galore */
h6.link-anim:hover {
	transform: translateX(10px);
	transition-duration:0.2s;
	transition-timing-function: linear;
}
a:hover,
a:focus {
	transform: translateY(-4px);
	transition-duration:0.2s;
	transition-timing-function: linear;
}
p.link-anim:hover,
p.link-anim:focus {
	transform: translateY(4px);
	transition-duration:0.2s;
	transition-timing-function: linear;
}
.portfolio-img.anim {
	cursor:pointer;
	transform: translateX(-20px);
	transition-duration:0.2s;
	transition-timing-function: linear;
}
.portfolio-descr.anim {
	cursor:pointer;
	transform: translateX(-20px);
	transition-duration:0.2s;
	transition-timing-function: linear;
}


@-webkit-keyframes mover {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0); }
}
@keyframes mover {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0); }
}

@media screen and (max-width:991px) {
	#navbar-txt-right {
		-webkit-animation: mover 1s 1;
		animation: mover 1s 1;
	}
	h2.title {
		font-size:3rem;
	}
}
@media screen and (min-width:992px) {
	#navbar-txt-right, #navbar-txt-left {
		-webkit-animation: mover 1s 1;
		animation: mover 1s 1;
	}
	h2.title {
		font-size:4rem;
	}
}
/* */
@media screen and (max-width:400px) {
	.hide-mobile {
		display:none;
	}
}


/* encapsulates the below styles to only to the main pages */
#main-page {

/* hide all contact page social link descriptions on page load */
	#linkedin-descr, 
	#github-descr, 
	#melartistangent-descr, 
	#yelpblackbelt-descr,
	#yelp-descr {
		display:none;
	}
/* */


/* portfolio */
	.portfolio-img {
		max-width:400px;
		height:auto;
		max-height:400px;
		width:auto;
	}
	.portfolio-descr {
		position:absolute;
		z-index:20;
		padding:16px 16px 0px 16px;
	}
	.portfolio-descr.bottom {
		top:200px;
	}
	.portfolio-descr.right {
		left:200px;
		margin-right:20px;
		margin-left:20px;
	}
	.portfolio-descr.top {
		top:-75px;
	}
	.portfolio-descr.mid-top {
		top:10px;
	}
	.portfolio-descr.left {
		right:200px;
		margin-right:20px;
		margin-left:20px;
	}
	.portfolio-descr.middle {
		top:100px;
	}
	@media screen and (min-width: 992px) {
		#portfproj-container04 {
			margin-top:75px;
		}
		#portfdescr-recwidgit {
			margin-top:65px;
		}
	}
	@media screen and (min-width:992px) and (max-width:1199px) {
		.portfolio-descr.right {
			left:100px;
		}
		.portfolio-descr.left {
			right:100px;
		}
		#portfdescr-bento {
			margin-left:100px;
		}
	}
	@media screen and (max-width:991px) {
		.portfolio-descr.right {
			left:200px;
		}
		.portfolio-descr.left {
			right:200px;
		}
		.portfolio-descr.top {
			top:15px;
		}
		.portf-proj:nth-child(2) {
			margin-top:120px;
		}
	}
	@media screen and (max-width:500px) {
		.portfolio-img.left-col {
			// margin-left:-50px;
		}
		.portfolio-img.left {
			padding-left:40px;
		}
		.portfolio-img.right {
			padding-right:40px;
		}
		.portfolio-descr.right {
			left:100px;
		}
		.portfolio-descr.left {
			right:100px;
		}
		.portfolio-descr.top {
			top:10px
		}
		.portfolio-descr.bottom {
			top:220px;
		}
		#portfdescr-art {
			top:220px;
		}
	}



// specific mobile styling for the portfolio page
	@media screen and (max-width:450px) {
		.portfolio-descr {
			&.right {
				left:-20px;
				right:-20px;
			}
			&.left {
				right:-20px;
				left:-20px;
			}
			&.bottom {
				top: 220px;
			}
			&.top {
				top: 220px;
			}
			&.mid-top {
				top: 220px;
			}
		}
		.portfolio-img {
			max-width:86vw;
		}
		div.flex-display-row.flex-justify-end.portf-proj,
		div.flex-display-row.flex-justify-start.portf-proj {
			justify-content:center;
		}

	// my portfolio page display is asymmetrical so my fixes are one-offs
		#portfimg-busters {
			margin-top:-20px;
			@media screen and (min-width:410px) {
				margin-top:-40px;
			}
		}
		#portfdescr-busters {
			top:250px;
		}
		#portfimg-recwidgit {
			margin-right:-4px;
			margin-top:-10px;
			@media screen and (min-width:410px) {
				margin-top:20px;
			}
		}
		#portfdescr-recwidgit {
			left:-22px;
			@media screen and (min-width:410px) {
				top:250px;
			}
		}
		#portfproj-container04 {
			margin-top:50px;
		}
		#portfdescr-detailpanem {
			top:250px;
		}
		#portfimg-recmobile {
			@media screen and (min-width:410px) {
				margin-top:40px;
			}
		}
		#portfdescr-recmobile {
			top:280px;
			left:-21px;
			@media screen and (min-width:410px) {
				top:290px;
			}
		}
		#portfproj-container06 {
			margin-top:80px;
			@media screen and (min-width:410px) {
				margin-top:50px;
			}
		}
		#portfimg-userflows {
			padding-bottom:50px;
		}
		#portfdescr-userflows {
			top:230px;
		}

		#portfdescr-read {
			top:280px;
		}
		#portfimg-art {
			margin-top:-20px;
		}
		#portfimg-bento {
			margin-top:-60px;
			padding-bottom:50px;
		}
		#portfdescr-bento {
			margin-top:-60px;
			margin-bottom:20px;
		}
	}

	#portfdescr-mils {
		background-color:#fff;
		border:2px solid rgba(152,15,97,1);
		h3 {
			color: #2c3e50;
		}
		a {
			color: #0e216d;
		}
	}
	#portfdescr-busters {
		background-color:#fdf0da;
		border:2px solid #f8c235;
		h3 {
			color: #4065b4;
		}
	}
	#portfdescr-recwidgit {
		background-color:#f5f5f5;
		border:2px solid #dcdcdc;
		h3 {
			color: #0c8a6d;
		}
	}
	#portfdescr-detailpanem {
		background-color:#e6dede;
		border:2px solid #8d0000;
		h3 {
			color: #3f3f3f;
		}
		a {
			color: #8d0000;
		}
		p {
			color: #000;
		}
	}
	#portfdescr-recmobile {
		background-color:#fff;
		border:2px solid #b5cf6a;
		h3 {
			color: #57a359;
		}
		p {
			color: #000;
		}
	}
	#portfdescr-userflows {
		background-color:#e8e8e8;
		border:2px solid #005999;
		h3 {
			color: #004e2f;
		}
		p {
			color: #424242;
		}
	}
	#portfdescr-read {
		background-color:#0a4f5b;
		border:2px solid #f0617a;
		h3 {
			color: #92c880;
		}
		a {
			color: #e7b132;
		}
		p {
			color: #fff;
		}
	}
	#portfdescr-art {
		background-color:#af4528;
		border:2px solid #583521;
		h3 {
			color: #fdc19a;
		}
		a {
			color: #f2bf47;
		}
		p {
			color: #fff;
		}
	}
	#portfdescr-bento {
		background-color:#ac3946;
		border:2px solid #d47f2f;
		h3 {
			color: #d9b8b1;
		}
		p {
			color: #fff;
		}
	}

	.bottom-row {
		margin-bottom:100px;
	}

/* */




/* miscellaneous */
	#about-img-992up {
		max-height:560px;
		width:auto;
	}

	@media screen and (max-width:550px) {
		.no-scroll {
			overflow:hidden;
		}
		#home-title,
		h2.contact-title {
			margin-top:-200px !important;
		}
		.minh-100vh.title-page,
		#contact-content.minh-100vh {
			overflow:hidden;
			min-height:none;
			max-height:90vh;
		}
	}
	@media screen and (max-width:991px) {
		#about-img-991down {
			width:100%;
			max-width:450px;
			margin-left:auto;
			margin-right:auto;
		}
		.minh-100vh.title-page,
		#contact-content.minh-100vh {
			min-height:none;
			overflow-y:hidden;
		}
		#home-title {
			font-size:3.5rem;
		}
		h3 {
			font-size:1.125rem;
			font-weight:600;
		}
		h3.portfproject-title {
			font-size:1.75rem;
			font-weight:400;
		}
	}
	@media screen and (min-width:992px) {
		#home-title {
			font-size:4.5rem;
		}
	}

}