/* top-level custom stuff */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
html::-webkit-scrollbar {
  display: none !important;
}
body::-webkit-scrollbar {
  display: none !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  overflow-x:hidden;
  position: relative;
  
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
section::-webkit-scrollbar {
	display: none !important;
}
section {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none !important;
}
h6 a:link, 
h6 a:visited, 
h6 a:active,
li a:link,
li a:visited,
li a:active,
p a:link,
p a:visited,
p a:active {
	color: #777;
}
h6 a:hover, 
h6 a:focus,
li a:hover,
li a:focus,
p a:hover,
p a:focus {
	color: #343a40;
	text-decoration:none;
}
.bottom-row {
	margin-bottom:140px;
}
.pronounce:hover {
	transition-duration:0.2s;
	opacity:0.8;
	cursor:default;
}
/* */



p.name-line:hover {
	cursor: pointer;
}
p.name-line.active {
	animation: nameLine 3s 1;
	animation-timing-function: ease-in-out;
	@media screen and (max-width:767px) {
		animation: nameLine 1.6s 1;
	}
}
p#name-line-3 {
	text-align:right;
	font-size:3rem !important;
}
p#name-line-3.active {
	animation: nameLine3 3s 1;
	animation-timing-function: ease-in-out;
	@media screen and (max-width:767px) {
		animation: nameLine3 1.6s 1;
	}
}
.name-col {
	padding-left:20px;
	padding-right:20px;
}
@media screen and (min-width:567px){
	.name-col {
		padding-left:6px;
		padding-right:6px;
	}
}
.navbar-dark .navbar-nav .nav-link {
	margin:5px;
	padding:5px;
}
.active-projects {
	position:relative;
}
/* books page */

.container.book-cards>.row>.bkcrd {
	height:250px;
	width:100%;
	margin:5px auto;
	background-color:#fff;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}
.container.book-cards>.row>.bkcrd:hover {
	border:none;
	transform:scale(105%);
	cursor:pointer;
	// background-color:#ddd;
}


/* front page name animation keyframes */
@-webkit-keyframes mover {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0); }
}
@keyframes mover {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0); }
}

@-webkit-keyframes nameLine {
	0% { transform: translateX(0); }
	50% { transform: translateX(20vw); }
    85% { transform: translateX(-5vw); }
}
@keyframes nameLine {
	0% { transform: translateX(0); }
	50% { transform: translateX(20vw); }
    85% { transform: translateX(-5vw); }
}
@-webkit-keyframes nameLine3 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-20vw); }
    85% { transform: translateX(5vw); }
}
@keyframes nameLine3 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-20vw); }
    85% { transform: translateX(5vw); }
}
/* */ 

@media screen and (max-width:991px) {
	// #navbar-txt-right {
	// 	-webkit-animation: mover 1s 1;
	// 	animation: mover 1s 1;
	// }
	h1.title {
		font-size:3rem;
	}
	h1.portfolio-title {
		font-size:2.75rem;
	}
	h2 {
		font-size:1.75rem;
	}
	#navbar-txt-left {
		text-align:right;
	}
	.hide-hamburger {
		display:none;
	}
	.portfolio-card {
		padding-left:20px;
		padding-right:20px;
		h3 {
			font-size:1.5rem;
		}
		h4 {
			font-size:1.25rem;
			font-weight:400;
		}
		h5 {
			font-size:1rem;
		}
		h6 {
			font-size:0.8rem;
		}
	}
}
@media screen and (max-width:440px) {
	#bce-title, #autostore-title {
		font-size:2.1rem;
	}
	h2 {
		font-size:1.65rem;
	}
	.portfolio-card {
		padding-left:10px;
		padding-right:10px;
		h3 {
			font-size:1.35rem;
		}
		h4 {
			font-size:1.25rem;
			font-weight:400;
		}
		h5 {
			font-size:1rem;
		}
		h6 {
			font-size:0.8rem;
		}
	}
}
@media screen and (max-width:350px) {
	h1.title {
		font-size:2.5rem;
	}
	h1.portfolio-title {
		font-size:2.25rem;
	}
	.portfolio-card {
		padding-left:10px;
		padding-right:10px;
		h3 {
			font-size:1.15rem;
		}
		h4 {
			font-size:1rem;
			font-weight:400;
		}
		h5 {
			font-size:0.9rem;
		}
		h6 {
			font-size:0.8rem;
		}
	}
}
@media screen and (min-width:992px) {
	// #navbar-txt-right, #navbar-txt-left {
	// 	-webkit-animation: mover 1s 1;
	// 	animation: mover 1s 1;
	// }
	h1.title {
		font-size:4rem;
	}
	.portfolio-card {
		padding-left:40px;
		padding-right:40px;
		h3 {
			font-size:1.65rem;
		}
		h4 {
			font-size:1.25rem;
			font-weight:400;
		}
		h5 {
			font-size:1rem;
		}
		h6 {
			font-size:0.8rem;
		}
	}
}
/* */
@media screen and (max-width:400px) {
	.hide-mobile {
		display:none;
	}
}
@media screen and (min-width:401px) {
	.hide-above-400 {
		display:none;
	}
}


/* hide all contact page social link descriptions on page load */
#linkedin-descr, 
#github-descr, 
#melartistangent-descr, 
#yelpblackbelt-descr,
#yelp-descr {
	display:none;
}

/* */
/* social link colors */
#linkedin-social a, #linkedin-descr {
	color:#0A66C2;
}
#github-social a, #github-descr {
	color:#6600CC;
}
#yelp-social a, #yelp-descr {
	color:#FF1A1A;
}
/* */

.shift-nav {
	@media screen and (min-width:992px) {
		margin-left:7px;
	}
}
#frontpage-mobile-nav {
	border:none;
	width:100%;
	padding-left:0;
	padding-right:0;
}
#frontpage-mobile-navlist {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	font-size:0.9rem;
	width:100%;
}


#frontpage-mobile-navlist li {
	width:fit-content;
}

/* main portfolio page */
div.portfolio-card {
	background-color:#000;
	color:#FFF;
	height:230px;
	display:flex;
	flex-direction:column;
	align-items:center;
	align-content:center;
	justify-content:center;
}
div.portfolio-card:hover {
	background-color:#333;
	color:#FFF;
	text-decoration:none;
}
a.portfolio-card:hover {
	color:#FFF;
	text-decoration:none;
}
div.portfolio-card.deactivated {
	// background-color:#AAA;
	border: 4px solid #666 !important;
}
div.portfolio-card.deactivated:hover {
	border: 4px solid #999 !important;
}
div.portfolio-card.deactivated, a.portfolio-card.deactivated:hover {
	cursor:default;
	text-decoration:none;
}
div.portfolio-card.portfolio-bce {
  	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/bce-preview.jpg');
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../assets/images/bce-mockedup-devices.png');
  	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
  	border: 4px solid #00A0A3;
}
div.portfolio-card.portfolio-bce:hover {
  	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../assets/images/bce-preview.jpg');
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/images/bce-mockedup-devices.png');
  	  	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
  	border: 4px solid #FFEA00;
}
div.portfolio-card.portfolio-commconn {
	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/bce-preview.jpg');
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../assets/images/commconnect-main-mockups-750x545.png');
	background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
	border: 4px solid #00A0A3;
}
div.portfolio-card.portfolio-commconn:hover {
	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../assets/images/bce-preview.jpg');
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/images/commconnect-main-mockups-750x545.png');
		  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
	border: 4px solid #FFEA00;
}
div.portfolio-card.portfolio-detailedbypanem {
  	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/detailedbypanem-preview.jpg');
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/detailedbypanem-mockedup-devices.png');
  	background-size:cover;
	background-position-x:50%;
	background-position-y:20%;
	background-repeat: no-repeat;
  	border: 4px solid #00A0A3;
}
div.portfolio-card.portfolio-detailedbypanem:hover {
  	// background:linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../assets/images/detailedbypanem-preview.jpg');
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/images/detailedbypanem-mockedup-devices.png');
  	background-size:cover;
	background-position-x:50%;
	background-position-y:20%;
	background-repeat: no-repeat;
  	border: 4px solid #FFEA00;
}
div.portfolio-card.portfolio-otherprojects {
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../../assets/images/other-mockedup-devices.png');
  	background-size:cover;
	background-position-x:50%;
	background-position-y:20%;
	background-repeat: no-repeat;
  	border: 4px solid #00A0A3;
}
div.portfolio-card.portfolio-otherprojects:hover {
  	background:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/images/other-mockedup-devices.png');
  	background-size:cover;
	background-position-x:50%;
	background-position-y:20%;
	background-repeat: no-repeat;
  	border: 4px solid #FFEA00;
}



/* miscellaneous */
.smaller-img {
	width: 300px; 
	max-height: 300px;
	object-fit: cover; 
	object-position: top center;
}
.pink {
	color:#FD7CA9;
}
.attr {
	color:#aaa;
	font-size:11px;
}
.shade-img {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}
.shade-img:hover {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.08);
}
ul.no-bullet {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
ul.no-bullet.spaced-out li {
	padding-top:7px;
	padding-bottom:7px;
}
p.bottom-spacer {
	padding-bottom:60px;
}
img.headshot {
	max-width:200px;
	height:200px;
	border-radius:100px;
}
a.button {
	padding: 0.65rem 1rem;
	border-radius:3rem;
	color: #FFF !important;
	text-decoration: none;
	border: none;
	border: 2px solid #FFF;
	// width:128px !important;
}
a.button:hover {
	text-decoration: none;
	cursor:pointer;
}
a.button.resume {
	background-color:#E30041;
}
a.button.resume:hover {
	background-color:#6600CC;
}
a.button.portfolio {
	background-color:#00A616;
}
a.button.portfolio:hover {
	background-color:#0052CC;
}
a.button.contact {
	background-color:#FF5100;
}
a.button.contact:hover {
	background-color:#6600CC;
}
a.button.books, a.button.speak-btn {
	background-color:#00A0A3;
}
a.button.books:hover {
	background-color:#0052CC;
}
a.button.speak-btn:hover {
	background-color:#E30041;
}
a.button.email {
	background-color:#FF5100;
}
a.button.email:hover {
	background-color:#00A616;
}
a.button.back-portfolio {
	background-color:#777;
	color:#FFF;
}
a.button.back-portfolio:hover {
	background-color:#AAA;
	color:#111111 !important;
	border: 2px solid #111111;
}

#backToTop {
  display: none; /*To hide the button initially*/
  justify-content:center;
  align-content:center;
  align-items:center;
  height: 50px !important;
  width: 50px !important;
  max-height: 50px !important;
  max-width: 50px !important;
  padding:0;
  position: fixed !important;
  bottom: 80px;
  right: 20px;
  z-index: 999 !important;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #777;
  color: #FFF;
  border-radius: 50%;
  // transition: all ease-in 0.3s;
  font-size:32px;
  cursor:pointer;
}
#backToTop:hover {
  background-color: #AAA;
  color:#111111;
  border: 2px solid #111111;
  cursor:pointer;
}

@media screen and (max-width:550px) {
	#home-title,
	h2.contact-title {
		margin-top:-100px !important;
	}
	.minh-100vh.title-page,
	#contact-content.minh-100vh {
		overflow-x:hidden;
		min-height:none;
		max-height:90vh;
	}
}
@media screen and (max-width:991px) {
	.minh-100vh.title-page,
	#contact-content.minh-100vh {
		min-height:none;
	}
	#home-title {
		font-size:3.5rem;
	}
	h3 {
		font-size:1.125rem;
		font-weight:600;
	}
	h3.portfproject-title {
		font-size:1.75rem;
		font-weight:400;
	}
}
@media screen and (min-width:992px) {
	#home-title {
		font-size:4.5rem;
	}
}