#loader-wrapper {
	margin:auto;
	width:100vw;
	height:100vh;
	position: absolute;
	top:0;
	left:0;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items:center;
	align-content:center;
	z-index:6000;
	overflow:hidden;
	text-align: center;
}
.loader {
  text-align:center;
   width: 45px;
   height: 30px;
   animation: l1 2s infinite linear;
}
@keyframes l1{
  0%,
  25%  {background:
          linear-gradient(#E30041 0 0) 50% 0/66% 100% no-repeat}
  25.1%,
  50%  {background:
          linear-gradient(#6600CC 0 0) 0 0/100% 50% no-repeat,
          linear-gradient(#6600CC 0 0) 0 0/33% 100% no-repeat}
  50.1%,
  75%  {background:
          linear-gradient(#00A0A3 0 0) 100% 0/66% 50% no-repeat,
          linear-gradient(#00A0A3 0 0) 0 100%/66% 50% no-repeat}
  75.1%,
  100% {background:
          linear-gradient(#00A616 0 0) 0 100%/100% 50% no-repeat,
          linear-gradient(#00A616 0 0) 50% 0 /33%  50% no-repeat}
}