/* alignment + layout */
.minh-100vh {
  min-height: 100vh;
  overflow-y: scroll;
}

.flex-display-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex-display-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.hidden {
  visibility: hidden;
}

.wd-100 {
  width: 100%;
  height: auto;
}

/* text size */
.txt-10px {
  font-size: 0.625rem;
}

.txt-11px {
  font-size: 0.6875rem;
}

.txt-12px {
  font-size: 0.75rem;
}

.txt-14px {
  font-size: 0.875rem;
}

.txt-18px {
  font-size: 1.125rem;
}

.txt-72px {
  font-size: 4.5rem;
}

/* text color */
.txt-drkbg-ltgray {
  color: #dfdfdf !important;
}

.txt-drkgray {
  color: #343a40;
}

.txt-gray {
  color: #7a7a7a;
}

/* text style */
.txt-italic {
  font-style: italic;
}

.txt-400 {
  font-weight: 400;
}

.txt-600 {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.txt-space-1hfpx {
  letter-spacing: 0.0938rem;
}

/*.txt-space-2px {
	letter-spacing:0.125rem;
}*/
/*.txt-space-3px {
	letter-spacing:0.1875rem;
}*/
.txt-space-4px {
  letter-spacing: 0.25rem;
}

.txt-code {
  font-family: "Courier", "Monaco", serif;
}

/* text alignment */
.txt-center {
  text-align: center;
}

/* line height */
.txt-lineht-2p {
  line-height: 200%;
}

/* top-level custom stuff */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  overflow-x: hidden;
  position: relative;
}

h6 a:link,
h6 a:visited,
h6 a:active,
li a:link,
li a:visited,
li a:active,
p a:link,
p a:visited,
p a:active {
  color: #777;
}

h6 a:hover,
h6 a:focus,
li a:hover,
li a:focus,
p a:hover,
p a:focus {
  color: #343a40;
  text-decoration: none;
}

.bottom-row {
  margin-bottom: 140px;
}

.pronounce:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0.8;
  cursor: default;
}

/* */
p.name-line:hover {
  cursor: pointer;
}

p.name-line.active {
  -webkit-animation: nameLine 3s 1;
          animation: nameLine 3s 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@media screen and (max-width: 767px) {
  p.name-line.active {
    -webkit-animation: nameLine 1.6s 1;
            animation: nameLine 1.6s 1;
  }
}

.navbar-dark .navbar-nav .nav-link {
  margin: 5px;
  padding: 5px;
}

.active-projects {
  position: relative;
}

/* front page name animation keyframes */
@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes nameLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  85% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
}
@keyframes nameLine {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
  }
  85% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
}
/* */
@media screen and (max-width: 991px) {
  h1.title {
    font-size: 3rem;
  }
  h1.portfolio-title {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  #navbar-txt-left {
    text-align: right;
  }
  .hide-hamburger {
    display: none;
  }
  .portfolio-card {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio-card h2 {
    font-size: 1.5rem;
  }
  .portfolio-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .portfolio-card h4 {
    font-size: 1rem;
  }
  .portfolio-card h5 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 440px) {
  #bce-title {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.65rem;
  }
  .portfolio-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .portfolio-card h2 {
    font-size: 1.35rem;
  }
  .portfolio-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .portfolio-card h4 {
    font-size: 1rem;
  }
  .portfolio-card h5 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  h1.title {
    font-size: 2.5rem;
  }
  h1.portfolio-title {
    font-size: 2.25rem;
  }
  .portfolio-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .portfolio-card h2 {
    font-size: 1.15rem;
  }
  .portfolio-card h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .portfolio-card h4 {
    font-size: 0.9rem;
  }
  .portfolio-card h5 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  h1.title {
    font-size: 4rem;
  }
  .portfolio-card {
    padding-left: 40px;
    padding-right: 40px;
  }
  .portfolio-card h2 {
    font-size: 1.65rem;
  }
  .portfolio-card h3 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .portfolio-card h4 {
    font-size: 1rem;
  }
  .portfolio-card h5 {
    font-size: 0.8rem;
  }
}
/* */
@media screen and (max-width: 400px) {
  .hide-mobile {
    display: none;
  }
}
@media screen and (min-width: 401px) {
  .hide-above-400 {
    display: none;
  }
}
/* hide all contact page social link descriptions on page load */
#linkedin-descr,
#github-descr,
#melartistangent-descr,
#yelpblackbelt-descr,
#yelp-descr {
  display: none;
}

/* */
/* social link colors */
#linkedin-social a, #linkedin-descr {
  color: #0A66C2;
}

#github-social a, #github-descr {
  color: #6600CC;
}

#yelp-social a, #yelp-descr {
  color: #FF1A1A;
}

/* */
@media screen and (min-width: 992px) {
  .shift-nav {
    margin-left: 7px;
  }
}

/* main portfolio page */
div.portfolio-card {
  background-color: #000;
  color: #FFF;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.portfolio-card:hover {
  background-color: #333;
  color: #FFF;
  text-decoration: none;
}

a.portfolio-card:hover {
  color: #FFF;
  text-decoration: none;
}

div.portfolio-card.deactivated {
  border: 4px solid #666 !important;
}

div.portfolio-card.deactivated:hover {
  border: 4px solid #999 !important;
}

div.portfolio-card.deactivated, a.portfolio-card.deactivated:hover {
  cursor: default;
  text-decoration: none;
}

div.portfolio-card.portfolio-bce {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../assets/images/bce-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/images/bce-mockedup-devices.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid #00A0A3;
}

div.portfolio-card.portfolio-bce:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../../assets/images/bce-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/images/bce-mockedup-devices.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid #FFEA00;
}

div.portfolio-card.portfolio-detailedbypanem {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../assets/images/detailedbypanem-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/images/detailedbypanem-mockedup-devices.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  border: 4px solid #00A0A3;
}

div.portfolio-card.portfolio-detailedbypanem:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../../assets/images/detailedbypanem-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/detailedbypanem-mockedup-devices.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  border: 4px solid #FFEA00;
}

div.portfolio-card.portfolio-otherprojects {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../assets/images/other-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../assets/images/other-mockedup-devices.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  border: 4px solid #00A0A3;
}

div.portfolio-card.portfolio-otherprojects:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../../assets/images/other-mockedup-devices.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/images/other-mockedup-devices.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  background-repeat: no-repeat;
  border: 4px solid #FFEA00;
}

/* miscellaneous */
.smaller-img {
  width: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.pink {
  color: #FD7CA9;
}

.attr {
  color: #aaa;
  font-size: 11px;
}

.shade-img {
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.shade-img:hover {
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 6px 12px 0 rgba(0, 0, 0, 0.08);
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

ul.no-bullet.spaced-out li {
  padding-top: 7px;
  padding-bottom: 7px;
}

p.bottom-spacer {
  padding-bottom: 60px;
}

img.headshot {
  max-width: 200px;
  height: 200px;
  border-radius: 100px;
}

a.button {
  padding: 0.65rem 1rem;
  border-radius: 3rem;
  color: #FFF !important;
  text-decoration: none;
  border: none;
  border: 2px solid #FFF;
}

a.button:hover {
  text-decoration: none;
  cursor: pointer;
}

a.button.resume {
  background-color: #E30041;
}

a.button.resume:hover {
  background-color: #6600CC;
}

a.button.portfolio {
  background-color: #00A616;
}

a.button.portfolio:hover {
  background-color: #0052CC;
}

a.button.contact {
  background-color: #00A0A3;
}

a.button.contact:hover {
  background-color: #FF5100;
}

a.button.email {
  background-color: #FF5100;
}

a.button.email:hover {
  background-color: #00A616;
}

a.button.back-portfolio {
  background-color: #777;
  color: #FFF;
}

a.button.back-portfolio:hover {
  background-color: #AAA;
  color: #111111 !important;
  border: 2px solid #111111;
}

#backToTop {
  display: none; /*To hide the button initially*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px !important;
  width: 50px !important;
  position: fixed !important;
  bottom: 80px;
  right: 20px;
  z-index: 999 !important;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #777;
  color: #FFF;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
}

#backToTop:hover {
  background-color: #AAA;
  color: #111111;
  border: 2px solid #111111;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #home-title,
  h2.contact-title {
    margin-top: -100px !important;
  }
  .minh-100vh.title-page,
  #contact-content.minh-100vh {
    overflow-x: hidden;
    min-height: none;
    max-height: 90vh;
  }
}
@media screen and (max-width: 991px) {
  .minh-100vh.title-page,
  #contact-content.minh-100vh {
    min-height: none;
  }
  #home-title {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: 600;
  }
  h3.portfproject-title {
    font-size: 1.75rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  #home-title {
    font-size: 4.5rem;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  /* Location of the box */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 80%;
}

/* Caption of Modal Image */
#caption {
  display: none;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoom-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes zoom-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
  -webkit-animation-name: zoom-out;
          animation-name: zoom-out;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

/* removing button padding */
.btn-modal {
  padding: 0;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    max-height: 90vh;
    max-width: 100vw;
  }
}